html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2a52be;
    color: #fff; 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
}

    header nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 20px;
    }

        header nav ul li a {
            text-decoration: none;
            color: #fff;
            font-weight: bold;
        }

.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    color: #333; 
}

.intro-text {
    max-width: 600px;
}

    .intro-text h1 {
        font-size: 3em;
        margin: 0;
    }

    .intro-text p {
        font-size: 1.2em;
        margin: 20px 0;
    }

.buttons {
    margin-top: 20px;
}



.btn-projects {
    background-color: #F4A21E;
    color: #fff;
}

.btn-linkedin {
    background-color: #fff;
    color: #333;
    border: 2px solid #333;
}

.intro-image img {
    border-radius: 15px;
    max-width: 400px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

    .btn-download {
        background-color: #258cfb;
        color: #fff;
        border: 2px solid #258cfb;
    }

    .btn-download:hover {
        background-color: #1e7cc1;
        border-color: #1e7cc1;
    }

.btn-linkedin:hover, .btn-projects:hover {
    opacity: 0.8;
}
